<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rentall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentAll">
        <activity
            android:name="com.rentall.adddata"
            android:exported="false" />
        <activity
            android:name="com.rentall.AdminAddProduct"
            android:exported="false" />
        <activity
            android:name="com.rentall.AdminRemoveProduct"
            android:exported="false" />
        <activity
            android:name="com.rentall.OrderProduct"
            android:exported="false" />
        <activity
            android:name="com.rentall.Admin_Product_Detail"
            android:exported="false" />
        <activity
            android:name="com.rentall.Admin_category"
            android:exported="false" />
        <activity
            android:name="com.rentall.Support"
            android:exported="false" />
        <activity
            android:name="com.rentall.AdminPage"
            android:exported="false" />
        <activity
            android:name="com.rentall.Payment"
            android:exported="false" />
        <activity
            android:name="com.rentall.YourDetail"
            android:exported="false" />
        <activity
            android:name="com.rentall.Description"
            android:exported="false" />
        <activity
            android:name="com.rentall.ProductList"
            android:exported="false"
            />
        <activity
            android:name="com.rentall.Feedback"
            android:exported="false" />
        <activity
            android:name="com.rentall.ActivityAbout"
            android:exported="false" />
        <activity
            android:name="com.rentall.MainNavigation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentall.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentall.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.rentall.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>